@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  border: solid 3px;
  background-color: gray;
  width: 100%;
  z-index: 2;
}

#main {
  position: relative;
  top: 100px;
  text-align: center;
}

.project-tile {
  box-shadow: 5px 5px 10px;
  background-color: maroon;
}

a {
  color: white;
}

#profile-link {
  background-color: black;
  width: 100%
}

#welcome-section {
  height: 100vh;
  background-color: red;
  font-size: 50px
}